
                        /*message.html*/
#msgBODY{
    background-image: url('images/wolf.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  #amsgBODY{
  background-image: url('images/wolf.jpg');
    background-size: cover;
    background-repeat: no-repeat;  
  }
 #messagesLog{
  margin-left: 23px;
  overflow-y: scroll;
  height: 440px;
  width: 400px;
 }
#msgbutt{
  width: 300px;
  height: 100px;
}
#msghead{
  margin-left:548px;
  color: maroon;
  font-size: 40px;
}

#msgbutt1{
    margin-left:31px;
    border-radius: 20px;
}
#msgbutt2 {
    margin-top: -51px;
    margin-left: 352px;
    border-radius: 20px;
}
#msgbutt3{border-radius: 20px;
  margin-top: -51px;
  margin-left: 674px;
}

#msgbutt4{border-radius: 20px;
  margin-top: -51px;
  margin-left:990px;
}
#msgLeft{
  float: left;
  width:639px;
  height: 500px
}
#msgRight{
  float: right;
  
  width:639px;
  height: 500px
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

